<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Bepul yetkazib berish, 30 kunlik qaytarish yoki pulni qaytarish kafolati.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}">Chiqish /{{ request.user.username }}/</a>
                            {% else %}
                                <a href="{% url 'signup' %}">Kirish</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
                            <li><a href="{% url 'shop' %}">Do‘kon</a></li>
                            <li class="active"><a href="#">Sahifalar</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'about' %}">Biz Haqimizda</a></li>                                 
                                    <li><a href="{% url 'blog_details' %}">Blog Tafsilotlari</a></li>
                                    <li><a href="{% url 'shopping_cart' %}">Savat</a></li>
                                    <li><a href="{% url 'checkout' %}">Xaridni yakunlash</a></li>
                                    <li> <a href="{% url 'orders_list' %}">Buyurtmalarim</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'contact' %}">Kontaktlar</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'shopping_cart' %}"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
                        {% else %}
                        <a href="{% url 'signup' %}"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
                        {% endif %}
                        <div class="price">{{ cart_total_price }} so'm</div>

                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Blog Details Hero Begin -->
    <section class="blog-hero spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                        <h2>Siz hech qanday tasavvurga ega bo'lmagan minglab Iphone egalaridan birisiz</h2>
                        <ul>
                            <li>By Deercreative</li>
                            <li>February 21, 2019</li>
                            <li>8 Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="/static/img/blog/details/blog-details.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>share</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            <p>Hydroderm - bu blokdagi qarishga qarshi krem. Bu sarum cheklaydi 
                                erta qarishning paydo bo'lishi teriga ta'sir qiladi va terini yosh, tarang va ushlab turadi 
                                sog'lomroq. Bu terining bo'shashishi va ajinlarini kamaytiradi. Ushbu krem terini oziqlantiradi 
                                va og'ir yillar davomida yo'qolgan yorqinlikni qaytaradi.</p>
                            <p>Gidrodermani samarali qiladigan eng muhim tarkibiy qism Vyo-serum bo'lib, a 
                                tabiiy tanlangan oqsillar mahsuloti. Ushbu kontsentrat olib kelishda faol ishlaydi 
                                terining tabiiy yosh porlashi. U terini namlash bilan birga qattiqlashtiradi 
                                teriga ta'siri. Boshqa muhim tarkibiy qism, gidrodermani juda samarali qilishdir 
                                Vyo-serum bilan birgalikda terini jonlantirishga yordam beradigan "dengiz kollagen".</p>
                        </div>
                        <div class="blog__details__quote">
                            <i class="fa fa-quote-left"></i>
                            <p>“Muayyan mahsulot uchun reklamani loyihalashda ko'p narsa bo'lishi kerak 
                                qaerda ko'rsatilishi kerakligi kabi o'rganildi."</p>
                            <h6>_ John Smith _</h6>
                        </div>
                        <div class="blog__details__text">
                            <p>Vyo-serum terini taranglash bilan birga qarishni ko'rsatadigan nozik chiziqlarni ham kamaytiradi 
                                teri. Qorong'u doiralar, shishish va qarg'a oyoqlari kabi muammolarni nazorat qilish mumkin 
                                bu sarumning kuchli ta'siri.</p>
                            <p>Hydroderm ko'p funktsiyali mahsulot bo'lib, selülitni kamaytirishga yordam beradi 
                                tananing tonlangan shakli, shuningdek, terini ildizdan tozalashga yordam beradi va yo'l qo'ymaydi 
                                teshiklar tiqilib qoladi, shunga qaramay, keling, ajinlar va barcha qarish belgilarini yo'q qilaylik. 
                                ko'z yaqinidagi sezgirlardan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/static/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Mijoz dizaynni o'z ichiga olgan noyob biznes modelimizning markazidir.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Xarid Qilish</h6>
                        <ul>
                            <li><a href="#">Kiyim Do‘koni</a></li>
                            <li><a href="#">Trenddagi Poyabzallar</a></li>
                            <li><a href="#">Aksessuarlar</a></li>
                            <li><a href="#">Chegirma</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Xarid Qilish</h6>
                        <ul>
                            <li><a href="#">Biz Bilan Bog'lanish</a></li>
                            <li><a href="#">Yetkazib Berish</a></li>
                            <li><a href="#">Qaytish & almashish</a></li>
                        </ul>
                    </div>
                </div>
<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
    <div class="footer__widget">
        <h6>Newsletter</h6>
        <div class="footer__newslatter">
            <p>Yangi kelganlar, kitoblar, sotuvlar va promolar haqida birinchi bo'lib xabardor bo'ling!</p>
            <form action="{% url 'subscribe_newsletter' %}" method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Sizning emailingiz" required>
                <button type="submit"><span class="icon_mail_alt"></span></button>
            </form>
        </div>
    </div>
</div>

            </div>

        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>